.topbar {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 0.5rem 1rem;
}

.actions {
  display: flex;
  gap: 0.5rem;
  margin-left: auto;
}

.actions img {
  border: 1px solid black;
}
